@page "/all"
@using HoneyDo.Shared.Services
@using HoneyDo.Shared.Interfaces
@using HoneyDo.Shared.Models
@using HoneyDo.Shared.Components
@inject ILocalStorage LocalStorage
@inject NavigationManager NavigationManager

<PageTitle>All "Honey Do" Items</PageTitle>

<h3>All Tasks</h3>

<p>
    Show completed tasks: <input type="checkbox" @onclick="FilterChanged" /> 
</p>
@{ #if ANDROID || IOS } 
    <MyCardView HoneyDos="@filteredHoneyDos" />
@{ #else }
    <MyQuickGrid HoneyDos="@filteredHoneyDos" />
@{ #endif }

@code {

    private IQueryable<HoneyDoModel> honeyDos;
    private IQueryable<HoneyDoModel> filteredHoneyDos;
    private bool showCompleted = false;

    protected override void OnInitialized()
    {
        honeyDos = HoneyDoService.GetModel(LocalStorage)
                                  .AsQueryable()
                                  .OrderBy(item => item.DueDate);

        filteredHoneyDos = honeyDos.Where(item => !item.IsComplete);
    }
           
    private void FilterChanged()
    {        
        showCompleted = !showCompleted;
        if (showCompleted)
        {
            //Show all
            filteredHoneyDos = honeyDos.Where(item => true);
        }
        else
        {
            filteredHoneyDos = honeyDos.Where(item => !item.IsComplete);
        }        
    }

}
