@page "/"
@using HoneyDo.Shared.Services
@using HoneyDo.Shared.Models
@using HoneyDo.Shared.Interfaces
@using HoneyDo.Shared.Components
@inject ILocalStorage LocalStorage
@inject NavigationManager NavigationManager

<PageTitle>Upcoming "Honey Do" Items</PageTitle>

<h3>Tasks Due</h3>

@{ #if ANDROID || IOS } 
    <MyCardView HoneyDos="@filteredHoneyDos" />
@{ #else }
    <MyQuickGrid HoneyDos="@filteredHoneyDos" />
@{ #endif }

@code {

    private IQueryable<HoneyDoModel> filteredHoneyDos;

    protected override void OnInitialized()
    {
        filteredHoneyDos = HoneyDoService.GetModel(LocalStorage)
                                  .AsQueryable()
                                  .Where(item => item.DueDate.Date <= DateTime.Now.Date)
                                  .Where(item => !item.IsComplete)             
                                  .OrderBy(item => item.DueDate);                                          
    }
}
