@page "/"
@using HoneyDo.Shared.Services
@using HoneyDo.Shared.Models
@using HoneyDo.Shared.Interfaces
@using HoneyDo.Shared.Components
@inject IFormFactor FormFactor
@inject ILocalStorage LocalStorage
@inject NavigationManager NavigationManager

<PageTitle>Upcoming "Honey Do" Items</PageTitle>

<h3>Tasks Due</h3>

<MyQuickGrid HoneyDos="@filteredHoneyDos" />

@code {

    private IQueryable<HoneyDoModel> honeyDos;
    private IQueryable<HoneyDoModel> filteredHoneyDos;
    private bool showCompleted = false;

    protected override void OnInitialized()
    {
        honeyDos = HoneyDoService.GetModel(LocalStorage)
                                  .AsQueryable()
                                  .Where(item => item.DueDate.Date <= DateTime.Now.Date)
                                  .Where(item => !item.IsComplete)             
                                  .OrderBy(item => item.DueDate);

        filteredHoneyDos = honeyDos;
    }

  
    private void Add()
    {        
        NavigationManager.NavigateTo($"/add");
    }

    private void FilterChanged()
    {        
        showCompleted = !showCompleted;
        if (showCompleted)
        {
            //Show all
            filteredHoneyDos = honeyDos
                                .Where(item => item.DueDate <= DateTime.Now.Date)
                                .Where(item => true);
        }
        else
        {
            filteredHoneyDos = honeyDos
                                .Where(item => item.DueDate == DateTime.Now.Date)
                                .Where(item => !item.IsComplete);
        }        
    }

}
