@page "/TestNavigation"
@using HoneyDo.Shared.Services
@using HoneyDo.Shared.Interfaces
@using HoneyDo.Shared.Models
@inject NavigationManager NavigationManager
@inject ILocalStorage LocalStorage
@inject IPhotoManager PhotoManager

@* @layout HoneyDo.Shared.Layout.LoginLayout *@

<PageTitle>"Test Navigation"</PageTitle>
<h1>"TestNavigation"</h1>
@code {

}
